<?xml version="1.0"?>
<phpunit
	bootstrap="tests/Unit/bootstrap.php"
	colors="true"
	beStrictAboutTestsThatDoNotTestAnything="true"
	convertDeprecationsToExceptions="true"
>
	<testsuites>
		<testsuite name="unit">
			<directory suffix="Test.php">tests/Unit</directory>
		</testsuite>
	</testsuites>
	<coverage>
		<include>
			<directory suffix=".php">src</directory>
		</include>
	</coverage>
</phpunit>
